<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>CC Maker</title>
    <script type="text/javascript" src="https://d3js.org/d3.v2.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js" asp-append-version="true"></script>

    <style type="text/css">
    </style>
</head>
<body>
    <div style="width:100%; height:700px;">
        <div style="width:100%; height:25%;">
            Conflict Chamber Code: <input type="text" id="txtCCCode" /><br />
            Print Width (inches): <input type="text" id="txtWidth" /><br />
            Print Height (inches): <input type="text" id="txtHeight" /><br />
        </div>
        <div style="height:100%; width:100%">
            <svg id="svg" style="width:100%; height:100%;">

            </svg>
        </div>
    </div>
    <script type="text/javascript">


        



        var Kodiak = {
            Name: "Kodiak 10/20",
            Type: "S",
            Boxes: "000000\n000000\n000000\n0L00R0\nLLMCRR\n.MMCC."
        }
        var Drakhun = {
            Name: "MoW Drakhun 10/18(16)",
            Type: "S",
            Boxes: "00000000000\n.....000000"
        }
        var ShockTroopers = {
            Name: "MoW Shocktroopers+UA 10/17",
            Type: "S",
            Boxes: "100000000\n200000000\n300000000\n400000000\n500000000\n*00000000"
        }
        var Wrastler = {
            Name: "Blackhide Wrastler",
            Type: "C",
            Boxes: "..00..\n..00..\n..0000\n..0000\n0.0000\n000000\n>0.0.0\n>0.0.0\n>0.0.0"
        }
        var Wrastler2 = {
            Name: "Blackhide Wrastler",
            Type: "C",
            Boxes: "....00\n.....0^00-\n000000\n000000^00-\n..0000\n..0000^00-"
        }

        var models = [Kodiak, Drakhun, ShockTroopers, Wrastler, Wrastler2];

        models.forEach(model_factory);

    </script>
</body>
</html>